<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

<!--META-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>My Classes</title>

<!--STYLESHEETS-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<!--SCRIPTS-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<!--Slider-in icons-->
<script type="text/javascript">
$(document).ready(function() {
    $.ajax({ 
        type: 'GET', 
        url: 'http://45.55.142.81/api/courses/123', 
        dataType: 'json',
        success: function (data) { 
            console.log(data);
            $.each(data, function(index, value) {
                console.log(value);
                $('#classes').append("<li>" + "<a href='/classRoom'>" + value.name + "</li>");
            });
        }
    });
});
</script>

</head>

<style type="text/css">
body{
background: #3498db;
}

ul{
line-style-type: none;
font-color: red;
}

.backgrnd{
background: #ecf0f1;
}

.padding20{
padding: 20px;
}
.margin20{
margin: 20px 100px;
}

</style>




<body>
<div class="container">
<div class="row margin20">
<div class="col-md-10 col-md-offset-1 backgrnd padding20 margin20">
<!--CLASSES-->
    <main>

    <!--CONTENT-->
    <div data-role="page" id="pageone">
        <div data-role="main" class="ui-content">
            <h2>My Classes</h2>
            <div id="styles">
                <ul id="classes" data-role="listview" >
                </ul>
            </div>
        </div>

    </div> 

        <button><a href="/home" class="button" style="text-decoration:none">Back</a></button>
        <button><a href="/classForm" class="button" style="text-decoration:none">Add Class</a></button>
    <div>


    </div>
    

    </main>