<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

<!--META-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>My Classes</title>

<!--STYLESHEETS-->
<link href="" rel="stylesheet" type="text/css" />

<!--SCRIPTS-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<!--Slider-in icons-->
<script type="text/javascript">
$(document).ready(function() {


});
</script>

</head>
<body>

<!--CLASSES-->
    <main>

    <!--CONTENT-->
    <div data-role="page" id="pageone">
        <div data-role="main" class="ui-content">
            <h2>My Classes</h2>
            <ul id="classes" data-role="listview">
                <li><a href="">Math</a></li>
                <li><a href="">Science</a></li>
                <li><a href="">Yoga</a></li>
            </ul>
    </div>
</div> 

        <button><a href="/home" class="button" style="text-decoration:none">Back</a></button>
        <button><a href="/classForm" class="button" style="text-decoration:none">Add Class</a></button>
    <div>


    </div>
    

    </main>


    <!--END CONTENT-->
        <!--FOOTER-->
    <!--END FOOTER-->

</body>
</html>