<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

<!--META-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Parent Form</title>

<!--STYLESHEETS-->
<link href="" rel="stylesheet" type="text/css" />

<!--SCRIPTS-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<!--Slider-in icons-->
<script type="text/javascript">
function myFunction() {
    var formData = {
        'first': $('input[name=first]').val(),
        'last': $('input[name=last]').val(),
        'instructor_id': $('input[name=instructor_id]').val(),
        'email': $('input[name=email]').val(),
        'password': $('input[name=password]').val()
    };
    $.ajax({ 
        type: 'POST',
        data: formData, 
        url: 'http://localhost/api/sexyGuardian/', 
        dataType: 'json',
        encode: true, 
        success: function (data) { 
            console.log(data);
            console.log("Submitting: " + formData);
        }
    });
    alert("Student successfully created!");
};
</script>

</head>

<style type="text/css">

body{
background: #3498db;
}
.backgrnd{
background: #ecf0f1;

}

.padding20{
padding: 20px;
}

.margin100{
margin: 100px 0px;
}

.margin20{
margin: 20px 0px;
}


</style>

<body>

<div class="container">
<div class="row margin20">
<div class="col-md-10 col-md-offset-1 backgrnd padding20 margin20">

<!--CLASS FORM-->
<form name="parent-form" onsubmit="event.preventDefault(); myFunction();">

    <!--HEADER-->
    <div class="header">
    <!--TITLE--><h1>Parent Form</h1><!--END TITLE-->
    </div>
    <!--END HEADER-->
    
    <!--CONTENT-->
    <div>
    First Name: <input name="first" type="text" required="required" /><br><br>
    Last Name: <input name="last" type="text" required="required" /><br><br>
    Email: <input name="email" type="text" required="required" /><br><br>
    Password: <input name="password" type="password" required="required" /><br><br>

    <!--INSTRUCTOR_ID HARDCODED RIGHT HERE -->
    <input name="instructor_id" type="number" hidden="" value="123" />
    </div>
    <!--END CONTENT-->
    
    <!--FOOTER-->
    <div>
            <button><a href="/guardians" class="button" style="text-decoration:none">Back</a></button>
    <!--ADD CLASS BUTTON--><input type="submit" name="submit" value="Add Parent" class="button" /><!--END REGISTER BUTTON-->
    </div>
    <!--END FOOTER-->

</form>
<!--END LOGIN FORM-->
</div>
</div>
</div>

</body>
</html>