<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

<!--META-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Home</title>

<!--STYLESHEETS-->
<link href="static/css/style.css" rel="stylesheet" type="text/css" />

<!--SCRIPTS-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<!--Slider-in icons-->
<script type="text/javascript">
$(document).ready(function() {

});
</script>

</head>
<body>

<!--WRAPPER-->
<div id="wrapper">

<!--HOME FORM-->
<form name="home-form" class="login-form" action="" method="post">

	<!--HEADER-->
    <div class="header">
    <!--TITLE--><h1>Home</h1><!--END TITLE-->
    </div>
    <!--END HEADER-->
	<div class="footer">
		<a href="/classes" class="button" type="submit">My Classes</a>
    </div>
	<!--CONTENT-->
    <div class="content">

    </div>
    <!--END CONTENT-->
    

</form>
<!--END LOGIN FORM-->

</div>
<!--END WRAPPER-->

<!--GRADIENT--><div class="gradient"></div><!--END GRADIENT-->

</body>
</html>