<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

<!--META-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Home</title>

<!--STYLESHEETS-->
<link href="static/css/style.css" rel="stylesheet" type="text/css" />

<!--SCRIPTS-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<!--Slider-in icons-->
<script type="text/javascript">
$(document).ready(function() {

});
</script>

</head>
<body>

<!--HOME-->
	<main>

	<!--HEADER-->
    	<div>
    <!--TITLE--><h1>Home</h1><!--END TITLE-->
    	</div>
    <!--END HEADER-->
	<!--CONTENT-->
    	<div>
			<button><a href="/classes" class="button" style="text-decoration:none">My Classes</a></button><br><br>
			<button><a href="/students" class="button" style="text-decoration:none">Students</a></button><br><br>
			<button><a href="/guardians" class="button" style="text-decoration:none">Parents</a></button>
    	</div>
    <!--END CONTENT-->
    

	</main>
<!--END LOGIN FORM-->

</body>
</html>