<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

<!--META-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login</title>
<!--STYLESHEETS-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!--SCRIPTS-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<!--Slider-in icons-->
<script type="text/javascript">
</script>

</head>

<style type= "text/css">

body{
background: #3498db;
}
.backgrnd{
background: #2ecc71;
}

.padding20{
padding: 20px;
}

.margin100{
margin: 100px 0px;
}

.margin20{
margin: 20px 0px;
}

</style>

<body>

<div class="container">
<div class="row margin100">
<div class="col-md-4 col-md-offset-4 backgrnd padding20" >
<!--LOGIN FORM-->
<form name="login-form" action="/authenticate" method="post">

<!--HEADER-->
    <div class="header margin20">
		<!--TITLE--><h1>Login</h1><!--END TITLE-->

    </div>
<!--END HEADER-->

	
<!--CONTENT-->
    <div class="content">
		<input name="email" type="text" class="input username" placeholder="Email" onfocus="this.value=''" required="required" /><br><!--END USERNAME-->
		<input name="password" type="password" class="input password" placeholder="Password" required="required"onfocus="this.value=''"/><!--END PASSWORD-->
    </div>
<!--END CONTENT-->

    
<!--FOOTER-->
    <div class="footer margin20">
    <!--LOGIN BUTTON--><input type="submit" name="submit" value="Login" class="button" /><!--END LOGIN BUTTON-->
    <!--REGISTER BUTTON--><a href="/register">Register</a> <!--END REGISTER BUTTON-->
    </div>
<!--END FOOTER-->

</form>
<!--END LOGIN FORM-->

</div>
</div>
</div>


</body>
</html>