<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

<!--META-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Registration</title>

<!--STYLESHEETS-->
<link href="" rel="stylesheet" type="text/css" />

<!--SCRIPTS-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>

</head>
<body>

<!--LOGIN FORM-->
<!--CHANGE LOGIN FORM CLASS IN CSS-->
<form name="register-form" action="/api/instructor" method="post">

    <!--HEADER-->
    <div class="header">
    <!--TITLE--><h1>Registration</h1><!--END TITLE-->
    </div>
    <!--END HEADER-->
    
    <!--CONTENT-->
    <div>
    <input name="firstName" type="text" class="input firstName" value="First Name" onfocus="this.value=''" />
    <input name="lastName" type="text" class="input lastName" value="Last Name" onfocus="this.value=''" />
    <input name="email" type="text" class="input email" value="Email" onfocus="this.value=''" />
    <input name="password" type="password" class="input password" value="Password" onfocus="this.value=''" />
    </div>
    <!--END CONTENT-->
    
    <!--FOOTER-->
    <div>
    <!--REGISTER BUTTON--><input type="submit" name="submit" value="Register" class="button" /><!--END REGISTER BUTTON-->
    </div>
    <!--END FOOTER-->

</form>
<!--END LOGIN FORM-->

</body>
</html>