<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

<!--META-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Students</title>

<!--STYLESHEETS-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="styles.css" rel="stylesheet" type="text/css" />

<!--SCRIPTS-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<!--Slider-in icons-->
<script type="text/javascript">
$(document).ready(function() {
    var GET = {};
    var query = window.location.search.substring(1).split("&");
    for (var i = 0, max = query.length; i < max; i++)
    {
        if (query[i] === "") // check for trailing & with no param
            continue;

        var param = query[i].split("=");
        GET[decodeURIComponent(param[0])] = decodeURIComponent(param[1] || "");
    }
    //NOTE: THIS IS UGLY AS SHIT, I KNOW...
    //Looks up all guardians with instructor id of 123
    $.ajax({
        type: 'GET', 
        url: '/api/sexyGuardians', 
        dataType: 'json',
        success: function (data) { 
            console.log(data);
            $.each(data, function(index, value) {
                //Looks up all students with guardian_id pertaining to instructor
                $.ajax({
                    type: 'GET',
                    url: '/api/student/' + value._id,
                    dataType: 'json',
                    success: function (data) {
                        $.each(data, function(index, value) {
                            // Displays student name connected to guardian
                            console.log(value);
                            $('#students').append("<li>" + "<a href='/studentForm'>" + value.first + ' ' + value.last + "</li>");
                        })
                    }
                });
            });
        }
    });
});
</script>

</head>
<style type="text/css">

body{
background: #3498db;
}
.backgrnd{
background: #ecf0f1;

}

.padding20{
padding: 20px;
}

.margin100{
margin: 100px 0px;
}

.margin20{
margin: 20px 0px;
}


</style>


<body>



<div class="container">
<div class="row margin20">
<div class="col-md-10 col-md-offset-1 backgrnd padding20 margin20">

<!--CLASSES-->
    <main>

    <!--CONTENT-->
    <div data-role="page" id="pageone">
        <div data-role="main" class="ui-content">
            <h2>My Students</h2>
            <ul id="students" data-role="listview">
            </ul>
    </div>

</div> 

        <button><a href="/home" class="button" style="text-decoration:none">Back</a></button>
        <button><a href="/studentForm" class="button" style="text-decoration:none">Add Student</a></button>
    <div>


    </div>
    

    </main>


    <!--END CONTENT-->
        <!--FOOTER-->
    <!--END FOOTER-->
    
</div>
</div>
</div>


</body>
</html>
