<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

<!--META-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Student Form</title>

<!--STYLESHEETS-->
<link href="" rel="stylesheet" type="text/css" />
<link href="styles.css" rel="stylesheet" type="text/css" />

<!--SCRIPTS-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<!--Slider-in icons-->
<script type="text/javascript">
function myFunction() {
    var parentEmail = document.getElementById("parentEmail").value;
    $.ajax({ 
        type: 'GET', 
        url: '/api/sexyGuardian/' + parentEmail, 
        dataType: 'json',
        success: function (data) { 
            console.log(data);
            var formData = {
                'first': $('input[name=first]').val(),
                'last': $('input[name=last]').val(),
               'sexy_guardian_id': data._id
            };
            console.log("Submitting: " + formData);
            $.ajax({ 
                type: 'POST',
                data: formData,
                dataType: 'json',
                url: '/api/student/',
                encode: true, 
                success: function (data) { 
                    console.log(data);                
                }
            });
            alert("Student successfully created!");
        }
    });
};

</script>

</head>

<style type="text/css">

body{
background: #3498db;
}
.backgrnd{
background: #ecf0f1;

}

.padding20{
padding: 20px;
}

.margin100{
margin: 100px 0px;
}

.margin20{
margin: 20px 0px;
}


</style>

<body>

<div class="container">
<div class="row margin20">
<div class="col-md-10 col-md-offset-1 backgrnd padding20 margin20">

<!--CLASS FORM-->
<form name="student-form" onsubmit="event.preventDefault(); myFunction();">

    <!--HEADER-->
    <div class="header">
    <!--TITLE--><h1>Student Form</h1><!--END TITLE-->
    </div>
    <!--END HEADER-->
    
    <!--CONTENT-->
    <div>
    First Name: <input name="first" type="text" required="required" /><br><br>
    Last Name: <input name="last" type="text" required="required" /><br><br>
    Parent Email: <input id="parentEmail" type="text" required="required" /><br>

        <!--INSTRUCTOR_ID HARDCODED RIGHT HERE -->
    <input id="parent_id" name="sexy_guardian_id" type="text" hidden/>
    </div>
    <!--END CONTENT-->
    
    <!--FOOTER-->
    <div>
            <br><button><a href="/students" class="button" style="text-decoration:none">Back</a></button>
    <!--ADD CLASS BUTTON--><input type="submit" name="submit" value="Add Student" class="button" /><!--END REGISTER BUTTON-->
    </div>
    <!--END FOOTER-->

</form>
<!--END LOGIN FORM-->

</div>
</div>
</div>

</body>
</html>
